<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:include filename="$(find gazebo_test)/model/rim.xacro"/>
<xacro:macro name="connector" params="name parent xyz rpy GAZEBO_color">
  <link name="C${name}">
    <inertial>
      <mass value="0.10"/>
      <inertia ixx="7.6e-5" ixy="0.0" ixz="0.0" iyy="7.6e-5" iyz="0.0" izz="0.000125"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.0318" length="0.0572"/>
      </geometry>
    </visual>
  </link>
  <joint name="${parent}_C${name}_joint" type="fixed">
    <parent link="${parent}"/>
    <child link="C${name}"/>
    <origin xyz = "${xyz}" rpy = "${rpy}"/>
  </joint>

  <!--Wheel Rims -->
  <xacro:rim name="wheel_${name}" parent="C${name}" xyz="0 0 -0.0286" rpy="0 0 0" GAZEBO_color = "Gazebo/Red"/>
 
  <gazebo reference="connector_${name}_link">
    <material value= "${GAZEBO_color}"/>
  </gazebo>

</xacro:macro>
</robot>